h1{

    font-family: 'Raleway', sans-serif;
}

p{

    font-family: 'Raleway', sans-serif;
}

h2{

    font-family: 'Raleway', sans-serif;
}

ul{
    font-family: 'Raleway', sans-serif;
}
h3{
    font-family: 'Raleway', sans-serif;
}

img{
    border-radius: 30%;
}

h3{
    color: salmon;
}

h1{
    color: salmon;
}